[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=PHP Formatter
Name[cs]=Formátovač PHP
Name[es]=Formateador PHP
Name[et]=PHP vormindaja
Name[ga]=Formáideoir PHP
Name[gl]=Formatador de PHP
Name[hu]=PHP formázó
Name[it]=Formattatore PHP
Name[nl]=PHP-formatteerprogramma
Name[pt]=Formatação de PHP
Name[pt_BR]=Formatação de PHP
Name[sk]=PHP formátovač
Name[sv]=PHP-formaterare
Name[uk]=Форматування PHP
Name[x-test]=xxPHP Formatterxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevphpformatter
X-KDevelop-Version=15
X-KDE-PluginInfo-Name=phpformatter
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Category=Global
X-KDevelop-Language=Php
X-KDevelop-Interfaces=org.kdevelop.ISourceFormatter
X-KDevelop-SupportedMimeTypes=application/x-php
X-KDevelop-Mode=NoGUI
X-KDevelop-LoadMode=AlwaysOn
